.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: xx-large;
  gap: 30px;
}

.icons a,
.icons a:link,
.icons a:visited,
.icons a:focus {
  color: var(--ifm-font-color-base);
}

.icons a:hover {
  color: var(--ifm-color-primary);
}

.current {
  text-align: center;
}

.paragraphs {
  width: 75em;
  max-width: 90vw;
  margin: 0 auto;
}
