// | -------------------------------------------------------------
// | Outline
// | -------------------------------------------------------------

@mixin outline {
  outline: 2px dotted #2e3440;
  outline-color: #2e3440;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 2px #eceff4;
  box-shadow: 0 0 0 2px #eceff4;
}

*:focus,
*:focus-visible {
  @include outline;
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
