---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CallToAction from "../components/CallToAction.astro";
import About from "../components/About.astro";
import ThemeData from "../components/ThemeData.astro";
import { Image } from "astro:assets";
import banner from "../assets/img/banner.png";
import covers from "../assets/img/covers.png";
import { Icon } from "astro-icon/components";
---

<DefaultLayout
  title="Home"
  description="Dragon Age Annual is an unofficial charity calendar featuring fanworks from talented, volunteer Dragon Age fans— artists, writers, and more."
>
  <article class="container">
    <div class="space-content my-12">
      <Image
        src={banner}
        alt="Dragon Age Annual"
        class="mx-auto w-11/12 md:w-[700px]"
      />
      <div class="gap-10 lg:grid lg:grid-flow-row-dense lg:grid-cols-4">
        <div class="space-content w-prose lg:col-span-3">
          <h2>DAA 2025 Pre-Orders Are Open!</h2>
          <Image
            src={covers}
            alt="Covers for the Dragon Age Annual calendar and zine."
            class="mx-auto w-4/5 md:w-3/5"
          />

          <p>
            Our itch.io shop is officially open—pre-order your copy of <em
              >Dragon Age Annual 2025: Legacies</em
            > NOW!
          </p>
          <p>All sale proceeds will be donated to support War Child UK.</p>

          <p>
            Thanks to our incredible creative team, we're excited to offer our
            largest spread of products to date, including bundle options so that
            you can mix and match the calendar, zine, and merchandise!
          </p>
          <h3 class="!mt-1">Pre-Order Deadlines</h3>
          <p>
            <strong>Physical Copies & Merch:</strong> October 31st, 2024<br />
            <strong>Digital Calendar & Zine:</strong> January 31st, 2025
          </p>
          <p class="text-center">
            <Icon
              name="noto:backhand-index-pointing-right"
              class="inline align-text-top"
            />
            <a
              href="https://da-annual.itch.io/daa2025-legacies"
              class="text-2xl font-bold">Order Now</a
            >
            <Icon
              name="noto:backhand-index-pointing-left"
              class="inline align-text-top"
            />
          </p>
        </div>
        <aside class="flex flex-col gap-y-5">
          <About />
          <ThemeData />
        </aside>
      </div>
      <CallToAction />
    </div>
  </article>
</DefaultLayout>
