---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CallToAction from "../components/CallToAction.astro";
import About from "../components/About.astro";
import ProjectStats from "../components/ProjectStats.astro";
import { Image } from "astro:assets";
import banner from "../assets/img/banner.png";
import { Icon } from "astro-icon/components";
---

<DefaultLayout
  title="Home"
  description="Dragon Age Annual: fan‑made charity calendar & merchandise. Seasonal pre‑orders champion causes, showcasing Thedas in art & fiction."
>
  <!-- SECTION: Main Content (Text + Sidebar) -->
  <section class="section">
    <div class="gap-10 lg:grid lg:grid-flow-row-dense lg:grid-cols-4">
      <!-- Main Text Column -->
      <div class="prose-daa lg:col-span-3">
        <Image
          src={banner}
          alt="Dragon Age Annual"
          class="mx-auto w-11/12 md:w-200"
        />
        <h2>DAA is back!</h2>

        <p>
          Dragon Age Annual is back for our sixth year! We're excited to
          celebrate this beloved franchise with our fellow fans, new and old,
          and we want to hear from YOU.
        </p>

        <p>
          Help us shape the 2027 production by completing the interest check
          now. Let us know what charities you're interested in supporting, what
          themes you'd like to see, which merchandise items you prefer, and
          other details that will make DAA 2027 something you'll love.
        </p>

        <p class="text-center">
          <Icon
            name="noto:backhand-index-pointing-right"
            class="inline align-text-top"
          />
          <a
            href="https://forms.dragonageannual.art/2027interest"
            class="text-2xl font-bold">2027 Interest Check</a
          >
          <Icon
            name="noto:backhand-index-pointing-left"
            class="inline align-text-top"
          /><br />
          <strong>Complete by April 30th!</strong>
        </p>

        <p>
          Contributor applications will open after the interest check. If you're
          interested in joining our creative team as an artist, writer, or beta,
          follow us across social media or sign up for our newsletter below to
          be notified when applications open.
        </p>

        <p>
          Thank you, as always, to our supporters — whether you've worked on or
          bought the Annual in past years, we couldn't keep this project going
          without you. Here's to another year of all things Dragon Age!
        </p>
      </div>

      <!-- Sidebar Column -->
      <aside class="flex flex-col justify-center gap-y-5">
        <About />
        <!-- <ProjectStats /> -->
      </aside>
    </div>
  </section>

  <!-- SECTION: Newsletter CTA -->
  <a name="newsletter"></a>
  <section id="newsletter" class="section mt-8! mb-4">
    <CallToAction />
  </section>
</DefaultLayout>
