/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.icons {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}

.title {
	text-align: center;
	border-bottom: none;
	line-height: 0.75;
}

header {
	width: 100%;
}

.hero--padding {
	padding-bottom: 0px;
}