---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CallToAction from "../components/CallToAction.astro";
import About from "../components/About.astro";
import ThemeData from "../components/ThemeData.astro";
import { Image } from "astro:assets";
import banner from "../assets/img/banner.png";
import { Icon } from "astro-icon/components";
---

<DefaultLayout
  title="Home"
  description="Dragon Age Annual is an unofficial charity calendar featuring fanworks from talented, volunteer Dragon Age fans— artists, writers, and more."
>
  <article class="container">
    <div class="space-content my-12">
      <Image
        src={banner}
        alt="Dragon Age Annual"
        class="mx-auto w-11/12 md:w-[700px]"
      />
      <div class="gap-10 lg:grid lg:grid-flow-row-dense lg:grid-cols-4">
        <div class="space-content w-prose lg:col-span-3">
          <h2>Contributor Applications Are Open NOW!</h2>
          <p>
            Dragon Age Annual is back for our fifth year, and we're excited to
            celebrate this beloved franchise with our fellow fans, new and old!
          </p>

          <p>
            Based on the responses to our interest check, DAA 2026 will be
            raising money for <a
              href="https://lakareutangranser.se/en/who-we-are"
              >MSF Sweden | Doctors Without Borders</a
            > and the project theme will be Dragon Age Tarot. Our calendar and merchandise
            will feature your favorite characters in the style of Inquisition's tarot
            cards, your favorite moments in the style of murals from Trespasser and
            Veilguard, and stories focused on the themes and motifs of Tarot.
          </p>

          <p>
            We are looking for a team of artists, writers, beta readers, and
            graphic designers to help produce DAA 2026. If you're a Dragon Age
            fan creator interested in contributing to a fun and rewarding
            project, check out our <a href="/before-you-apply"
              >contributor guidelines</a
            > and apply now!
          </p>

          <p class="text-center">
            <Icon class="inline" name="noto:spiral-calendar" />
            <strong class="text-nord8">Applications Close:</strong> Saturday, May
            10th <Icon class="inline" name="noto:spiral-calendar" />
          </p>

          <div class="!m-auto !max-w-fit">
            <h3 class="mb-0 pb-0">Application Links</h3>
            <ul class="list-none">
              <li>
                <Icon class="inline" name="noto:artist-palette" />
                <a href="https://forms.gle/JhpPgVghWnzXHN156">Artists</a>
              </li>
              <li>
                <Icon class="inline" name="noto:fountain-pen" />
                <a href="https://forms.gle/YX8jj3as5f1RJm666">Writers</a>
              </li>
              <li>
                <Icon class="inline" name="noto:bookmark-tabs" />
                <a href="https://forms.gle/hhvEMXvZ9MkTXcM78"
                  >Betas & Graphics</a
                >
              </li>
            </ul>
          </div>
        </div>
        <aside class="flex flex-col gap-y-5">
          <About />
        </aside>
      </div>
      <a id="newsletter"></a>
      <CallToAction />
    </div>
  </article>
</DefaultLayout>
