---
import { Icon } from "astro-icon/components";
---

<div id="about" class="prose hidden lg:block">
  <div
    class="border-gold relative flex flex-col items-center rounded-xl border shadow-neutral-600 drop-shadow-lg"
  >
    <div
      class="prose prose-daa space-content mt-0 h-full w-full rounded-xl px-6 pt-0 pb-8"
    >
      <h2 class="pt-9 text-center">About</h2>

      <p>
        Dragon Age Annual is an unofficial charity calendar featuring fanworks
        from talented, volunteer Dragon Age fans— artists, writers, and more.
      </p>
      <p>
        DAA is a celebration of all things Thedas; a labor of love from fans who
        want create something positive in their community. <a
          href="/about"
          class="bold text-xl! no-underline!"
          ><Icon name="lucide:chevron-right" class="inline" /></a>
      </p>
    </div>
  </div>
</div>
