---
import { Icon } from "astro-icon/components";
---

<div
  class="left-p fixed top-0 z-50 h-9 w-full bg-nord8 p-1 text-center text-nord0"
>
<Icon class="inline" name="noto:scroll" /> Contributor Applications Open! <Icon class="inline" name="noto:scroll" />
</div>

<style>
  a:link,
  a:any-link,
  a:visited {
    color: var(--neutral-900) !important;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: var(--neutral-100) !important;
    text-decoration: underline wavy !important;
  }
</style>
