---
import { Icon } from "astro-icon/components"


---

<div class="fixed top-0 left-p w-full bg-nord14 h-9 z-50 text-center font-bold p-1 !shadow-xl 
!shadow-nord4 !dark:shadow-[#242933]">
<Icon name="noto:party-popper" class="inline align-baseline" /> <a href="https://da-annual.itch.io/daa2025-legacies"> Pre-Orders Open Now. Order Here! </a> <Icon name="noto:party-popper" class="inline align-baseline" />
</div>

<style>
	a:link,
	a:any-link,
	a:visited {
		color: var(--neutral-900) !important;
		text-decoration: none;
	}

	a:hover,
	a:focus {
		color: var(--neutral-100) !important;
		text-decoration: underline wavy !important;
	}
</style>