---
import { Icon } from "astro-icon/components";
---

<div
  class="bg-arcane-300 text-arcane-800 prose-daa fixed top-0 z-50 h-10 w-full p-1 text-center"
>
  <Icon name="noto:ballot-box-with-ballot" class="inline" />
  <div class="normal hidden md:inline">
    Tell us what you want to see in the 2027 Annual!
  </div>
  <a
    href="https://forms.dragonageannual.art/2027Interest"
    class="text-gold! hover:text-daa-white!">Interest Check Ends: May 1, 2026</a
  >
  <Icon name="noto:ballot-box-with-ballot" class="inline" />
</div>
