---
import { Icon } from "astro-icon/components";
---

<div
  class="bg-arcane-300 text-arcane-800 prose-daa fixed top-0 z-50 h-10 w-full p-1 text-center"
>
  <Icon name="noto:backhand-index-pointing-right" class="inline" />
  Applications Open! Apply by May 17, 2026!
  <Icon name="noto:backhand-index-pointing-left" class="inline" />
</div>
