---

---

<div
  class="call-to-action relative my-10 flex flex-col items-center rounded-xl p-2 shadow-nord3 drop-shadow-lg dark:shadow-nord0"
>
  <div
    class="flex h-full w-full flex-col items-center gap-5 rounded-xl bg-nord6 p-12 dark:bg-nord1"
  >
    <h2 class="text-center font-display">Sign Up for Our Newsletter</h2>
    <form
			target="_blank"
      method="post"
      action="https://newsletter.dragonageannual.art/subscription/form"
      class="validate w-full text-center"
    >
      <div>
        <input type="hidden" name="nonce" />

			<label for="EMAIL" class="font-bold uppercase tracking-widest"
        >Email</label>
          <input
            type="email"
            name="EMAIL"
            required
            placeholder="mods@dragonageannual.art"
            class="border-dark border-fujo-blue m-3 h-12 max-w-[75%] self-center rounded-full border-2 bg-nord6 p-3 text-nord0 placeholder:italic sm:max-2xl:w-auto md:my-0"
          />
          <input
            id="aafb2"
            type="checkbox"
            name="l"
            checked
            value="aafb2e12-9adc-4465-8e45-592ddbc6e4c5"
						class="hidden"
          />
        <input type="submit" class="button md:mt-0" value="Subscribe" />
      </div>
    </form>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    background-image: linear-gradient(
      40deg,
      var(--primary-100),
      var(--secondary-200)
    );
  }
</style>
