---

---

<div
  class="call-to-action relative my-10 flex flex-col items-center rounded-xl p-2 shadow-nord3 drop-shadow-lg dark:shadow-nord0"
>
  <div
    class="flex h-full w-full flex-col items-center gap-5 rounded-xl bg-nord6 p-12 dark:bg-nord1"
  >
    <h2 class="text-center font-display">Sign Up for Our Newsletter</h2>

    <form
      action="https://art.us8.list-manage.com/subscribe/post?u=af081f3f7162c7300898c1a98&id=f8f98934b6&f_id=002762e0f0"
      method="post"
      class="validate w-full text-center"
      target="_self"
      novalidate=""
    >
      <label for="mce-EMAIL" class="font-bold uppercase tracking-widest"
        >Email</label
      ><input
        type="email"
        name="EMAIL"
        id="mce-EMAIL"
        required="true"
        value=""
        placeholder="mods@dragonageannual.art"
        class="border-dark border-fujo-blue m-3 h-12 max-w-[75%] self-center rounded-full border-2 bg-nord6 p-3 text-nord0 placeholder:italic sm:max-2xl:w-auto md:my-0"
      />

      <input
        type="submit"
        name="subscribe"
        class="button md:mt-0"
        value="Subscribe"
      />

      <div id="mce-responses">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
      </div>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        /* real people should not fill this in and expect good things - do not
        remove this or risk form bot signups */
        <input
          type="text"
          name="b_af081f3f7162c7300898c1a98_f8f98934b6"
          tabindex="-1"
          value=""
        />
      </div>
    </form>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    background-image: linear-gradient(
      40deg,
      var(--primary-100),
      var(--secondary-200)
    );
  }
</style>
