---
const currentYear = new Date().getFullYear();

import Socials from "./Socials.astro";
---

<footer
  class="bg-arcane-800/55 text-daa-white flex items-center gap-4 py-10 backdrop-blur-2xl"
>
  <div class="container flex flex-col justify-center gap-6">
    <Socials />
    <div class="w-full text-center">
      &copy; {currentYear} Dragon Age Annual
    </div>
  </div>
</footer>
