---
const currentYear = new Date().getFullYear();

import Socials from "./Socials.astro";
---

<footer class="text-nord8 bg-nord1/10 dark:bg-nord6/10">
  <section class="py-8">
    <Socials />
    <div class="text-center">
      <p>
        &copy; {currentYear} Dragon Age Annual
      </p>
    </div>
  </section>
</footer>
