---
import { DarkMode } from "accessible-astro-components";
import { Image } from "astro:assets";
import logo from "../assets/img/logo.svg";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
import { SkipLink } from "accessible-astro-components";
import { Icon } from "astro-icon/components";
---

<header
  id="main-navigation"
  class="text-nord8 glass fixed z-50 mt-[-12px] w-full items-center font-sans text-lg backdrop-blur-3xl lg:flex"
>
  <SkipLink />
  <Astronav closeOnClick>
    <div class="flex w-full items-center justify-between px-10 py-3">
      <a
        href="/"
        class="font-display flex items-center gap-2 text-xl font-bold uppercase !no-underline"
      >
        <Image
          src={logo}
          alt="Dragon Age Annual Logo"
          width="47"
          height="37"
          loading="eager"
        />
        <span class="hidden sm:inline-block">Dragon Age Annual</span>
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="text-nord8 h-4 w-4" />
      </div>
    </div>
    <MenuItems class="hidden lg:mr-10 lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
          <a href="/past-years">Past Years</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span> Pre-Order Info </span>
              <Icon
                name="lucide:chevron-down"
                class="mt-0.5 ml-1 h-4 w-4 group-open:rotate-180"
              />
            </button>
            <DropdownItems class="relative">
              <div class="dropdown">
                <ul>
                  <li>
                    <a href="https://shop.dragonageannual.art">Shop</a>
                  </li>
                  <li>
                    <a href="https://shop.dragonageannual.art/product-gallery"
                      >Product Gallery</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://shop.dragonageannual.art/package-comparisons"
                      >Pack Comparison</a
                    >
                  </li>
                  <li>
                    <a href="https://shop.dragonageannual.art/our-contributors"
                      >Our Contributors</a
                    >
                    <li>
                      <a
                        href="https://shop.dragonageannual.art/community-copies"
                        >Community Copies</a
                      >
                    </li>
                    <li>
                      <a href="https://shop.dragonageannual.art/itch-io-faq"
                        >Itch.io FAQ</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://shop.dragonageannual.art/terms-conditions"
                        >Terms & Conditions</a
                      >
                    </li>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
      </ul>
      <DarkMode class="lightswitch" />
    </MenuItems>
  </Astronav>

  <!-- TODO: From Old Layout Update To New Layout
		 <li class="menu-item">
      <a class="hover:text-nord10 hover:underline hover:decoration-wavy hover:underline-offset-3 hover:decoration-2" href="/before-you-apply">Before You Apply</a>
    </li> -->
  <!-- <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false"
        ><Icon name="noto:sparkles" />Apply Here</button
      >
      <ul class="dropdown-menu">
        <li>
          <Icon class="inline" name="noto:artist-palette" />
          <a class="hover:text-nord10 hover:underline hover:decoration-wavy hover:underline-offset-3 hover:decoration-2" href="https://forms.gle/JhpPgVghWnzXHN156">Artists</a>
        </li>
        <li>
          <Icon class="inline" name="noto:fountain-pen" />
          <a class="hover:text-nord10 hover:underline hover:decoration-wavy hover:underline-offset-3 hover:decoration-2" href="https://forms.gle/YX8jj3as5f1RJm666">Writers</a>
        </li>
        <li>
          <Icon class="inline" name="noto:bookmark-tabs" />
          <a class="hover:text-nord10 hover:underline hover:decoration-wavy hover:underline-offset-3 hover:decoration-2" href="https://forms.gle/hhvEMXvZ9MkTXcM78">Betas & Graphics</a>
        </li>
      </ul>
    </li> -->
</header>

<style>
  @reference "../styles/global.css";

  a,
  button {
    @apply hover:text-nord10 hover:underline hover:decoration-wavy hover:decoration-2 hover:underline-offset-3;
  }
  .dropdown {
    @apply text-nord8 bg-light-purple/98 dark:bg-medium-purple/99 border-gold absolute top-0 z-50 mt-3 rounded-md border p-5 shadow-xl/30;
  }

  li,
  .lightswitch {
    @apply ml-25 w-max border-0 lg:mt-1.5 lg:mr-1.5 lg:ml-0;
  }

  .dropdown li {
    @apply !ml-0;
  }
</style>
