---
import { Icon } from "astro-icon/components";
---

<div class="flex justify-center gap-4 py-5 text-4xl">
  <a href="https://bsky.app/profile/dragonageannual.bsky.social"
    ><Icon name="tabler:brand-bluesky" title="BlueSky" /></a
  >
  <a href="https://twitter.com/DragonAgeAnnual/"
    ><Icon name="tabler:brand-twitter" title="Twitter" /></a
  >
  <a href="https://dragonageannual.tumblr.com/"
    ><Icon name="tabler:brand-tumblr" title="Tumblr" /></a
  >
  <a href="https://www.instagram.com/dragonageannual/"
    ><Icon name="tabler:brand-instagram" title="Instagram" /></a
  >
  <a href="https://da-annual.itch.io/"
    ><Icon name="tabler:brand-itch" title="itch.io" /></a
  >
</div>
