---
import { Icon } from "astro-icon/components";
---

<div class="flex justify-center gap-4 py-5 text-4xl">
  <a href="https://bsky.app/profile/dragonageannual.art"
    ><Icon name="simple-icons:bluesky" title="BlueSky" /></a
  >
  <a href="https://twitter.com/DragonAgeAnnual/"
    ><Icon name="simple-icons:twitter" title="Twitter" /></a
  >
  <a href="https://dragonageannual.tumblr.com/"
    ><Icon name="simple-icons:tumblr" title="Tumblr" /></a
  >
  <a href="https://www.instagram.com/dragonageannual/"
    ><Icon name="simple-icons:instagram" title="Instagram" /></a
  >
  <a href="https://www.threads.com/@dragonageannual/"
    ><Icon name="simple-icons:threads" title="Threads" />
  </a>
  <a href="https://da-annual.itch.io/"
    ><Icon name="simple-icons:itchdotio" title="itch.io" /></a
  >
</div>
